.socialLinks {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  position: relative;
  z-index: 20;
  width: 100%;
  max-width: 24rem;
}

@media (min-width: 768px) {
  .socialLinks {
    max-width: 28rem;
  }
}