@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #f3f4f6;
  --primary: #22c55e;
  --foreground: #171717;
}

html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background-light);
  font-family: var(--font-space-grotesk), sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  cursor: none;
  position: relative;
  width: 100%;
  max-width: 100vw;
  filter: blur(0.2px);
  -webkit-filter: blur(0.2px);
  text-shadow: 0.5px 0 rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
}

/* Hide Scrollbar */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

/* Firefox Scrollbar */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

* {
  cursor: none !important;
}