.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;
  padding: 0;
  position: relative;
  overflow: hidden;
  cursor: none !important;
}

.screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 1000px;
  box-shadow:
    inset 0 0 200px rgba(255, 255, 255, 0.205),
    0 0 100px rgb(0, 0, 0);
  transition: all 0.4s ease;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  text-align: center;
  width: 100%;
  padding: 20px;
  pointer-events: all;
}