.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  max-width: 64rem;
  padding: 1rem;
  position: relative;
  z-index: 20;
  overflow: hidden;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 20;
}

.titleSection {
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .titleSection {
    margin-bottom: 5rem;
  }
}